@import url(./reset.css);


.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

:root {
    --app-dark-bg: #1a1d28;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-red: #ff3c57;
    --app-red-hover: #ff2846;
    --app-orange-text: #ff8e1c;
    --app-light-gray: #f9f9f9;
}

body {
    background-color: #bfbfbf;
}

.hero-banner {
    height: 600px;
    margin-inline: auto;
    background: url("../image/ales-krivec-4miBe6zg5r0-unsplash.jpg") center center /cover no-repeat;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 0.5);
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

h2 {  
    margin-top: 7px;
    margin-left: 12px;
    font-size: 39px;
    text-transform: uppercase;
    color:var(--app-dark-bg);
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 56px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500px;
    text-decoration: none;
    font: bold;
}

nav ul {
    list-style: none;
    font-size: 0;
    font-family: 'Roboto', sans-serif;
    margin-right: 40px;
}

nav ul li {
    display: inline;
    line-height: 56px;
    margin-right: 10px;
}

nav ul li a {
    color:var(--app-black);
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.2px;
    transition: color 0.25s ease-in-out;
}

nav ul li a:hover {
    color: #0659ac;
}

nav ul li + li {
    margin-left: 20px;
}

.container-text {
    font-size: 29px;
    color: var(--app-black);
    font-weight: 400px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

main {
    overflow: hidden; 
    height:calc(100vh - 60px - 65px);
} 

#about-me {
    background-color: #c7c7c7;
    height: 250px;
}

#about-me h3 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300px;
    margin-bottom: 20px;
    margin: 7px;

}

#about-me p {
    margin-left: 12px;
    margin-top: 12px;
    letter-spacing: 0.7px;
    font: bold;
    font-size: 21px;
}

#contact-me {
    padding: 40px;
    text-align: center;
    background-color: #e0e0e0;
    height: 420px;
}

#contact-me h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
    transition: 0.4s ease-in-out;
}

.contact-icons a {
	display: inline-block;
	margin: 0 10px;
	font-size: 2em;
	color: #333;
}

.contact-icons a:hover {
	color: #555;
}

.fa {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}

footer{
    height: 65px;
    background-color:#c7c7c7;;
    text-align: center;
}

footer p{
    font-size: 18px;
    line-height: 60px;
    color:var(--app-black);
}

@media (max-width: 480px){
    h2 {
        font-size: 16px;
    }
    #about-me h3 {
        font-size: 12px;
    }
    #about-me p {
        font-size: 8px;
    }
    #contact-me h3 {
        font-size: 23px;
     }
     .contact-icons a {
       font-size: 18px;
     }
}


@media(max-width: 690px) {
     h2 {
        font-size: 20px;
    }
    nav ul li a {
        font-size: 12px;
    }
    p {
        font-size: 18px;
    }
    #about-me h3 {
        font-size: 14px;
    }
    #about-me p {
        font-size: 11px;
    }
}

@media (max-width: 880px){
    #about-me h3 {
        font-size: 19px;
    }
    #about-me p {
        font-size: 16px;
    }
    #contact-me h3 {
       font-size: 27px;
    }
    .contact-icons a {
      font-size: 22px;
    }
}
